@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.loginwrapper {
  background: linear-gradient(90deg, #6b64bb, #403879);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: -10rem;
  margin-bottom: 5rem;
  color: white;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}

@media (max-width: 992px) {
  .login {
    border: none !important;
  }
  form input {
    width: 15rem;
  }
}

@media (max-width: 340px) {
  form input {
    width: 15rem !important;
  }
  .loginbtn {
    width: 15.2rem !important;
  }
}

.login {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
}

form input {
  width: 20rem;
  height: 2rem;
  margin: 5px;
  border: none;
}

form input:focus {
  outline: none;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  margin: 5px;
}

.loginbtn {
  width: 20.2rem;
  height: 2.4rem;
  border-radius: 0;
  border: none;
  color: white;
  background-color: #2b2759;
}

.loginbtn:focus {
  outline: none;
}

.loginbtn:hover {
  cursor: pointer;
}

.registerbtn {
  color: lightgray;
}

.registerbtn span {
  color: #ef9b5e;
}

.registerbtn span:hover {
  cursor: pointer;
}

.back {
  position: absolute;
  top: 2rem;
  left: 5rem;
}

.back img {
  width: 3rem;
  height: auto;
}

@media (max-width: 492px) {
  .back {
    position: absolute;
    left: 2rem;
  }
}
